Question no.1

1.The time required for servicing transmissions is normally distributed with  = 45 minutes and  = 8 minutes. The service manager plans to have work begin on the transmission of a customer’s car 10 minutes after the car is dropped off and the customer is told that the car will be ready within 1 hour from drop-off. What is the probability that the service manager cannot meet his commitment?

In [2]:
from scipy import stats

In [3]:
1-(stats.norm.cdf(50,loc=45,scale=8))

0.26598552904870054

Question no.2

2.The current age (in years) of 400 clerical employees at an insurance claims processing center is normally distributed with mean  = 38 and Standard deviation  =6. For each statement below, please specify True/False. If false, briefly explain why.

A : More employees at the processing center are older than 44 than between 38 and 44.

In [4]:
#Probability that Age less thane 38
Age_TO_38=(stats.norm.cdf(38,loc=38,scale=6))
Age_TO_38

0.5

In [5]:
#Probability that Age less thane 44
Age_TO_44=(stats.norm.cdf(44,loc=38,scale=6))
Age_TO_44

0.8413447460685429

In [6]:
#employee age more than 44 is 
Age_FROM_44=1-(stats.norm.cdf(44,loc=38,scale=6))
Age_FROM_44

0.15865525393145707

In [7]:
#Calculation part
age_BETWEEN_38TO44=Age_TO_44-Age_TO_38
age_BETWEEN_38TO44

0.3413447460685429

B. A training program for employees under the age of 30 at the center would be expected to attract about 36 employees.

In [8]:
(stats.norm.cdf(36,loc=38,scale=6))

0.36944134018176367

Question no.4

1.Let X ~ N(100, 202). Find two values, a and b, symmetric about the mean, such that the probability of the random variable taking a value between them is 0.99.

In [9]:
stats.norm.ppf(0.995,loc=100,scale=20)

151.516586070978

In [10]:
stats.norm.ppf(0.005,loc=100,scale=20)

48.483413929021985

Question no.5

1.Consider a company that has two different divisions. The annual profits from the two divisions are independent and have distributions Profit1 ~ N(5, 32) and Profit2 ~ N(7, 42) respectively. Both the profits are in

In [11]:
#A.	Specify a Rupee range (centered on the mean) such that it contains 95% probability for the annual profit of the company.
uppertail=stats.norm.ppf(0.975, loc=5,scale=3)
uppertail

10.879891953620163

In [12]:
lowertail=stats.norm.ppf(0.025, loc=5, scale=3)
lowertail

-0.879891953620163

In [13]:
#data Rupee range (centered on the mean) such that it contains 95% probability for the annual profit of the company.
print("Rupee range (Centered on the mean with 95% probability) is:","from ",lowertail*45," to ",uppertail*45)

Rupee range (Centered on the mean with 95% probability) is: from  -39.59513791290733  to  489.5951379129073

In [14]:
#B.	Specify the 5th percentile of profit (in Rupees) for the company
fifth_percentile=stats.norm.cdf(0.05,loc=5,scale=3)
fifth_percentile

0.049471468033648075

Set 4 Question no.3

1.Auditors at a small community bank randomly sample 100 withdrawal transactions made during the week at an ATM machine located near the bank’s main branch. Over the past 2 years, the average withdrawal amount has been 50dollar with a standard deviation of 40 dollar. Since audit investigations are typically expensive, the auditors decide to not initiate further investigations if the mean transaction amount of the sample is between 45 and 55 dollar. What is the probability that in any given week, there will be an investigation?

For No investigation P(45<X<55)

For Investigation 1-P(45<X<55)

In [15]:
# find z-scores at x=45; z=(s_mean-P_mean)/(p_SD/sqrt(n))
z=(45-50)/(40/100**0.5)
z

-1.25

In [16]:
# find z-scores at x=55; z=(s_mean-P_mean)/(p_SD/sqrt(n))
z=(55-50)/(40/100**0.5)
z

1.25

In [17]:
ANS=0.5497382248301129-0.4502617751698871
ANS

0.09947644966022584

In [18]:
# For No investigation P(45<X<55) using z_scores = P(X<50)-P(X<45)
stats.norm.cdf(1.25)-stats.norm.cdf(-1.25)

0.7887004526662893

In [19]:
stats.norm.interval(0.7887,loc=50,scale=40/(100**0.5))

(45.00000495667348, 54.99999504332652)

In [20]:
# For Investigation 1-P(45<X<55)
1-0.7887

0.21130000000000004